body {
  margin: 0;
  padding-top: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  padding: 15px;
  position: relative;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#menu-btn {
  display: none;
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  z-index: 1000;
}

/* スマホ */
@media screen and (max-width: 768px) {
  nav a {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.open {
    display: block;
  }

  #menu-btn {
    display: block;
  }
}
