#menu-btn {
  display: none;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  position: absolute;
  top: 12px;
  left: 15px;
  cursor: pointer;
}

/* 三本線 */
#menu-btn::before,
#menu-btn::after,
#menu-btn span {
  content: "";
  display: block;
  height: 3px;
  background: white;
  margin: 5px 0;
}

/* スマホだけ表示 */
@media screen and (max-width: 768px) {
  #menu-btn {
    display: block;
  }
}
