body {
  margin: 0;
  padding-top: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 60px;
}

/* ボタン本体 */
#menu-btn {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 18px;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

/* 線 */
#menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: 0.3s;
}

#menu-btn span:nth-child(1) { top: 0; }
#menu-btn span:nth-child(2) { top: 9px; }
#menu-btn span:nth-child(3) { bottom: 0; }

/* ✕ 変形 */
#menu-btn.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

#menu-btn.active span:nth-child(2) {
  opacity: 0;
}

#menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* メニュー */
#menu {
  display: none;
  background: black;
}

#menu.open {
  display: block;
}

#menu a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

/* スマホのみ表示 */
@media (min-width: 769px) {
  #menu-btn {
    display: none;
  }
}
