#menu-btn {
  width: 30px;
  height: 22px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

#menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

#menu-btn span:nth-child(1) {
  top: 0;
}

#menu-btn span:nth-child(2) {
  top: 9px;
}

#menu-btn span:nth-child(3) {
  bottom: 0;
}

/* ✕ に変形 */
#menu-btn.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

#menu-btn.active span:nth-child(2) {
  opacity: 0;
}

#menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 9px;
}


/* スマホだけ表示 */
@media screen and (max-width: 768px) {
  #menu-btn {
    display: block;
  }
}
