nav {
  background-color: black;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  padding: 10px 15px;
  margin: 0 10px;
  display: inline-block;
}

nav a:hover {
  background-color: #666;
  transform: translateY(-2px);
}


nav a.active {
  background-color: #666;
}

nav {
  background-color: #333;
  padding: 14px;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  margin: 0;
  padding-top: 70px;
}
